<div class="content-card">
  <form id="login-form">
      <div class="form-group">
        <label for="email">Email</label>         <div class="input-icon-container">
          <span class="input-icon">👤</span> 
          <input type="email" id="email" name="email" required placeholder="Username" />
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-icon-container">
          <span class="input-icon">🔒</span>
          <input type="password" id="password" name="password" required placeholder="Password" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>