<div class="content-card">
  <form id="register-form">
      <div class="form-group">
        <label for="name">Nama Lengkap</label>
        <div class="input-icon-container">
          <span class="input-icon">🧑</span>
          <input type="text" id="name" name="name" required placeholder="Nama Anda" />
        </div>
      </div>
      <div class="form-group">
        <label for="reg-email">Email</label>
        <div class="input-icon-container">
          <span class="input-icon">📧</span>
          <input type="email" id="reg-email" name="email" required placeholder="alamat@email.com" />
        </div>
      </div>
      <div class="form-group">
        <label for="reg-password">Password</label>
        <div class="input-icon-container">
          <span class="input-icon">🔒</span>
          <input type="password" id="reg-password" name="password" minlength="8" required placeholder="Minimal 8 karakter" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Daftar Sekarang</button>
      <div class="login-footer" style="margin-top: 15px;">
        <p>Sudah punya akun? <a href="#/login">Login di sini</a></p>
      </div>
    </form>
</div>